@page
@model CacheApp.Pages.Firearms.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Firearm[0].ManufacturerImporter)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Firearm[0].Model)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Firearm[0].SerialNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Firearm[0].Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Firearm[0].Caliber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Firearm[0].Cost)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Firearm[0].DateAcquired)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Firearm[0].PurchaseLocation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Firearm[0].Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Firearm[0].DateSold)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Firearm[0].SoldTransferredTo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Firearm[0].Notes)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Firearm) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ManufacturerImporter)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Model)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SerialNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Caliber.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cost)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateAcquired)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PurchaseLocation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateSold)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SoldTransferredTo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Notes)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
